body{
  width: 375px;
}
/* aca empieza el formulario  */
@media(min-width:376px){
  .titulo_formulario{
  font-family: "Poppins",serif;
  font-size: 60px;

  text-align: center;
  -webkit-text-fill-color: aliceblue;
  
}
}

@media(min-width:376px){
.form_titulo{
  margin-top:70px ;
}
}



.escribime{
 
    padding: 30px;
    width: 100%;
   
   
  }
  @media(min-width:376px){
    .escribime{
      height: 500px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }
  .formulario{
    width: 100%;

  }

  .container_inputs{
    width: 100%;
    
}

.container_boton_enviar{
    margin-top: 2px;
}

.field-textarea {
    width: 100%;
}
.field-email{
    width: 100%;
}

.titulo_formulario{
   -webkit-text-fill-color: aliceblue;
   font-size: 20px;
   margin-bottom: 5px;
}


  
  .label_form {
    -webkit-text-fill-color: aliceblue;
  } 
  
  @media(min-width:376px){
    .media-name {
      grid-column: 1/3;
    }
  }
  


  @media(min-width:376px){
    .formulario{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: 200px 1fr 1fr;

    }
  }
  
  @media(min-width:376px){
   .container_inputs{
    display:grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(4,100px);
      
       grid-row: 1/4;
       grid-column: 1/4;
       padding : 0px 0px 30px 0px;
       gap: 10px;
  }}

  @media(min-width:376px){
    .field-name {
     grid-column: 1/3;
     grid-row: 1/2;
    }
  }

  @media (min-width:376px){
    .field-email{
      grid-column: 3/6;
      grid-row: 1/2;
      width: 270px;
     
  }}
  
  @media (min-width:376px){
    .field-textarea{
      grid-column: 1/6;
      grid-row: 2/4;
      width: 490px;
            
  }}

  @media (min-width:376px){
    .container_boton_enviar{
      grid-column: 2/5;
      width: 100%;
      height: 120px;

      margin-top:-60px;
      padding: 30px;
      
  }}

 

